html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    color: #333;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* 必要に応じて調整 */
    margin-bottom: 40px; /* Headerの下部に余白を追加 */
}

#about {
    padding-top: 70px; /* Headerの高さ分の余白を追加 (例: Headerが70pxの場合) */
}

/* テーブル */
table {
    width: 100%; /* テーブル幅を100%に設定 */
    border-collapse: collapse; /* セルのボーダーを重ねる */
    margin-bottom: 20px; /* 下の余白を追加 */
}

th, td {
    padding: 10px; /* セルのパディング設定 */
    text-align: center; /* テキストの中央揃え設定 */
    border: 1px solid #ffeb99; /* ボーダーの設定 */
}

th {
    background-color: #ffd699; /* ヘッダーの背景色設定 */
    color: #fff; /* ヘッダーのテキスト色設定 */
}

tr:nth-child(even) {
    background-color: #fff9db; /* 偶数行の背景色設定 */
}

tr:nth-child(odd) {
    background-color: #fff; /* 奇数行の背景色設定 */
}

.logo img {
    height: 50px;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ff9a9e;
    color: #fff;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#gallery {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.gallery-container {
    overflow-x: auto;
    white-space: nowrap; /* 画像を横並びにするための設定 */
}

.gallery {
    display: flex;
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* 画像間の余白 */
}


h2 {
    color: #ff9a9e;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #ff9a9e;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6f61;
}

footer {
    background-color: #F2989D;
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        padding: 15px 0;
    }

    section {
        margin: 10px 0;
        padding: 15px;
    }
    
    form label, form input, form textarea, form button {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2em;
    }

    nav ul li a {
        font-size: 1em;
    }

    section {
        padding: 10px;
    }
    
    form label, form input, form textarea, form button {
        font-size: 0.9em;
    }
}
